@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400,900|Spicy+Rice');

/* ----- colours */

.bg-color {
    background-color: #fafafa;
}

.bg-color-section {
    background-color: #D0B285;
}

.ui-menu-color-home {
    background-color: #CF4917;
    color: #fafafa;
}

.ui-menu-color-about {
    background-color: #F9AC3D;
    color: #fafafa;
}

.ui-menu-color-music {
    background-color: #2D758C;
    color: #fafafa;
}

.ui-menu-color-photos {
    background-color: #758C33;
    color: #fafafa;
}

.ui-menu-color-contact {
    background-color: #D0B285;
    color: #fafafa;
}


/* ----- General styles */

header {
    margin: 0;
    background-color: #fafafa;
}

.menu {
    font-family: "Spicy Rice", sans-serif;
}


/* ----- Headers */

.logo {
    background: url(/assets/images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
    margin: 0 2px 0 2px;
    position: relative;
    transition: all .5 ease-in-out;
    -o-transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}

.list-inline {
    margin: 0;
    padding: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 18px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
    border-radius: 360px;
}

.menuitem a {
    width: 100px;
    text-decoration: none;
    color: #fafafa;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 30px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
}

/* ----- Hovers*/

/* ----- Footer */

/* ----- Media Queries 

1.will want the logo to be on the left of the page on screens bigger than mobile*/
