@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400,900|Spicy+Rice');


/* ----------------------------------------- colours */

.bg-color {
    background-color: #fafafa;
}

.navbar-bg-color {
    background-color: #fafafa;
    color: #e46180;
}

.bg-color-section {
    background-color: #D0B285;
}

.ui-menu-color-home {
    background-color: #fafafa;
    color: #CF4917;
}

.ui-menu-color-about {
    background-color: #fafafa;
    color: #F9AC3D;
}

.ui-menu-color-music {
    background-color: #fafafa;
    color: #2D758C;
}

.ui-menu-color-contact {
    background-color: #fafafa;
    color: #758C33;
}


/* ----------------------------------------- General styles */

.main-content {
    padding: 2px;
}

header {
    margin: 0;
    background-color: #fafafa;
}

.menu {
    font-family: "Spicy Rice", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Spicy Rice", sans-serif;
    color: #fafafa;
}

.general-text {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
}

.inline-block {
    display: inline-block;
}

.section-heading {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px;
}

.block--divider {
    width: 60px;
    height: 7px;
    position: relative;
    display: block;
    background-color: #fafafa;
    border-radius: 30%;
}

/* ----------------------------------------- Headers/navbar */

.navbar {
    position: relative;
    margin: 2px;
}

.logo {
    background: url(/assets/images/logo.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 280px;
    margin: 2px;
    position: relative;
    transition: all .5 ease-in-out;
    -o-transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}

.nav-item {
    font-family: "Spicy Rice", sans-serif;
    font-size: 30px;
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav-item i {
    padding-top: 5px;
    padding-right: 10px;
    font-size: 30px;
    display: inline-block;
}

.nav-link {
    display: inline-block;
}


.list-inline {
    margin: 0;
    padding: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}


/* ----------------------------------------- Section - Home/carousel*/

.container.container-home {
    margin: 0;
    padding: 0;
}

.carousel {
    width: 100%;
    height: auto;
    display: inline-block;
}

#my-carousel {
    margin: 2px 0;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-color: #CF4917;
}


/* ----------------------------------------- Section - About us*/

.section-heading-about {
    font-family: "Spicy Rice", sans-serif;
    color: #F9AC3D;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 30px;
}

.sub-heading-about { 
    font-family: "Spicy Rice", sans-serif;
    font-size: 18px;
    color: #F9AC3D;
    text-align: center;
    margin: 10px auto;
}

.about-container {
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fafafa;
}


.block--divider--about {
    width: 80%;
    height: 7px;
    position: relative;
    display: inline-block;
    background-color: #F9AC3D;
    border-radius: 30%;
}

.img-members {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-band {
    width: 257px;
    height: 198px;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-color: #F9AC3D;
}

.block--divider--about {
    width: 80%;
    height: 7px;
    position: relative;
    display: block;
    background-color: #F9AC3D;
    border-radius: 30%;
}

.block--divider--members {
    width: 30%;
    height: 7px;
    position: relative;
    display: block;
    background-color: #F9AC3D;
    border-radius: 30%;
}

/* ----------------------------------------- Section - Music*/

.music-container {
    width: auto;
    height: auto;
    background-color: #2D758C;
    margin: 5px 0;
    padding: 0;
}

.section-heading-music {
    font-family: "Spicy Rice", sans-serif;
    color: #fafafa;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
}

.block--divider--music {
    width: 80%;
    height: 7px;
    position: relative;
    display: block;
    background-color: #fafafa;
    border-radius: 30%;
}

.album-items {
    width: 257px;
    height: 198px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.audio-controls {
    text-align: center;
}

.album-items--video {
    width: auto;
    height: 400px;
    display: block;
    margin: 30px auto;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color: #ffffff;
}

.btn {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn--music {
    background-color: #ffffff;
    color: #2D758C;
    font-family: "Spicy Rice", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------- Contact us*/

.section-heading-contact {
    font-family: "Spicy Rice", sans-serif;
    color: #758C33;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
}

.block--divider--contact {
    width: 80%;
    height: 7px;
    position: relative;
    display: block;
    background-color: #758C33;
    border-radius: 30%;
}
    
.sub-heading-contact { 
    font-family: "Spicy Rice", sans-serif;
    font-size: 20px;
    color: #758C33;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.center-form {
    max-width: 500px;
    background-color: #fafafa;
    display: block;
    font-family: "Londrina Solid";
    text-align: center;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-color: #758C33;
}

.contact-container-image {
    position: relative;
    display: block;
    color: #888;
    margin-bottom: -25px;
    background: url('/assets/images/cover3.jpg') right center no-repeat #f3f8fc;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.contact-overlay {
    z-index: 9;
    position: absolute;
    display: block;
    margin: 10px;
}

/* ----------------------------------------- Hovers*/

.ui-menu-color-about:hover {
    background-color: #CF4917;
    color: #fafafa;
    text-decoration: none;
    transition: ease-in-out;
}

.ui-menu-color-about:hover {
    background-color: #F9AC3D;
    color: #fafafa;
    text-decoration: none;
    transition: ease-in-out;
}

.ui-menu-color-music:hover {
    background-color: #2D758C;
    color: #fafafa;
    text-decoration: none;
    transition: ease-in-out;
}

.ui-menu-color-contact:hover {
    background-color: #758C33;
    color: #fafafa;
    text-decoration: none;
    transition: ease-in-out;
}

/* ----------------------------------------- Footer */

footer {
    background-color: #CF4917;
    color: #fafafa;
    min-height: 160px;
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.general-sub.footer-heading {
    text-align: center;
    display: block;
}

.general-sub.subscribe {
    font-family: "Spicy Rice", sans-serif;
    color: #fafafa;
}

.general-sub.subscribe:hover {
    color: #F9AC3D;
    text-decoration: none;
}


.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding-top: 7px;
    border-radius: 50%;
    line-height: 27px;
    font-size: 20px;
    text-align: center;
    color: #fafafa;
    background-color: #D1744A;
}

.social-links li a i:hover {
    background: #D0B285;
}

#footer-details {
    padding: 20px;
}

.footer-text {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
}

/* ----------------------------------------- Media Queries 

1.will want the logo to be on the left of the page on screens bigger than mobile*/

@media(min-width:768px) {
    .logo {
        min-height: 100px;
        background-position: left;
        margin: 7px 7px 7px 50px;
        max-width: 100%;
    }
    .nav-item {
        height: 100px;
        font-size: 20px;
        margin: 20px 0 20px 0;
    }
    .nav-item a {
        height: 100px;
        border-radius: 360px;
    }
    .nav-item a i {
        padding-top: 18px;
        font-size: 20px;
    }

}

/*----
@media(min-width:768px) {
    .img-members {
        min-height: 100px;
        display: inline-block;
        margin: 10px 10px 10px 20px;
        max-width: 100%;
    }
}
---*/